@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family:  'Bebas Neue', sans-serif;
  /* font-family: "Inter", sans-serif; */
}
body {
  padding: 0 15vw;
}
a {
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  background-color: pink;
  width: 1vw;
    }
::-webkit-scrollbar-thumb {
  background-color: palevioletred;
  border-radius: 3vw;
}
.btn {
  background: none;
  border: none;
  font-size: 1.5vw;
  font-weight: 500;
}
.header-h2 {
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.logo img {
  width: 8vw;
}
.navLink-wrapper {
  padding: 0.5vw 3vw;
  border-radius: 2vw;
  color: white;
  background-color: rgba(77, 76, 75, 0.1);
  box-shadow: 0 12px 22px 0 #ee477780;
  border-bottom: 4px solid #cf1469;
  background: linear-gradient(90deg,#ff5ba9,#e91776 99.93%);
 
}
.navLink-wrapper:hover {
  box-shadow: none;
  border-bottom: 4px solid #cf1469;
  background: linear-gradient(90deg,#ff5ba9,#e91776 99.93%);
 
  /* background-color: rgb(247, 47, 47); */
}
.navLink-wrapper:hover a {
  color: rgb(245, 240, 240);
}
.nav-link {
  font-weight: 500;
  font-size: 1.25vw;
  color: white
}
.start-screen {
  margin-top: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
}
.start-screen__image-container {
}
.start-screen__image-container img {
  width: 100%;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}
.start-screen__info-block {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 75vw;
}
.header-h1 {
  font-size: 2vw;
  font-weight: 600;
}
.description {
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 120%;
}
.start-screen__btn {
  font-size: 1vw;
  padding: 1vw 2vw;
  width: 80%;
  box-shadow: 0 12px 22px 0 #ee477780;
  border-bottom: 4px solid #cf1469;
  background: linear-gradient(90deg,#ff5ba9,#e91776 99.93%);
  /* background-color: rgb(255, 69, 131); */
  /* background-color: rgb(255, 192, 203); */
  /* color: rgb(245, 240, 240); */
  color: white;
  border-radius: 0.75vw;
  align-self: flex-end;
}
.start-screen__btn:hover {
  padding: 1vw 3vw;
  /* width: 60%; */
  box-shadow: none;

  /* background-color: rgba(77, 76, 75, 0.1); */
  /* color: rgba(0, 0, 0, 0.75); */
  border-radius: 0.75vw;
  align-self: flex-end;
}
.thoughts {
  padding: 3vw 0;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.thoughts-hight {
  display: flex;
  gap: 3vw;
  justify-content: space-between;
  align-items: center;
}
.thoughts-hight__image-wrapper {
  width: 50%;
  text-align: center;
}
.thoughts-hight__image-wrapper img {
  width: 60%;
}
.thoughts-hight__questions {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  justify-content: space-between;
  align-items: center;
}
.thoughts-hight__questions-description {
  font-size: 1.5vw;
}
.thoughts-low {
  padding: 0.75vw 0 0.75vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-left: 0.25vw solid #ffecf5
}
.whom {
  margin: 2vw 0;
  background-color: #ffecf5;

  /* background-color: rgba(250, 158, 168, 0.4); */
  padding: 4vw 12.5vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  width: 95vw;
  margin-left: calc(-25vw / 2);
}
.whom-wrapper {
  margin-top: 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
}
.whom-item {
  position: relative;
  padding: 1vw 2vw;
  background-color: rgba(245, 240, 240, 0.8);
  border: 1px solid black;
  border-radius: 0.5vw;
  box-shadow:   0 0 15px 5px #f3cddf;

}
.whom-item__number {
  position: absolute;
  font-size: 6vw;
  font-weight: 400;
  color: #e91776;;
  top: -3vw;
  left: -1.5vw;
  /* text-shadow: 8px 5px rgba(0, 0, 0, 0.4); */
}

.whom-item__number--done {
  background-image: url(./src/done.png);
  width: 4vw;
  height: 4vw;
  background-size: cover;
  top: -1vw;
  left: -2.25vw;
}
.whom-item .description {
  font-size: 1vw;
}
.whom-wrapper--done {
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  position: relative;
  gap: 5vw;
  row-gap: 2vw;

  column-gap: 2.5vw;
  margin-top: 0;
}
.whom-wrapper--done .whom-item {
  padding: 0.75vw 1vw 0.75vw 2vw;
  display: flex;
  align-items: center;
}
.health-image {
  bottom: 0;
  right: 0;
  width: 100%;
  grid-column: 4/5;
  grid-row: 1/3;
  align-self: center;
  border-radius: 0.5vw;
}
.whom-item__health {
  box-shadow: 0 0 15px 5px pink;
  border-radius: 2vw;
}

.whom__work {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin-top: 5vw;
}
.whom-wrapper__work {
  justify-content: center;
  margin-bottom: 3vw;
}
.work__btn {
  box-shadow: 0 12px 22px 0 #ee477780;
  border-bottom: 4px solid #cf1469;
  background: linear-gradient(90deg,#ff5ba9,#e91776 99.93%);
 color: white;
  /* background-color: rgb(245, 240, 240); */
  padding: 1.5vw 3vw;
  font-size: 1.5vw;
  align-self: flex-end;
  border-radius: 1vw;
  font-weight: 500;
}
.questions {
display: flex;
flex-direction: column;
gap: 3vw;
overflow-x: scroll;
margin: 4vw 0;
}
.questions::-webkit-scrollbar {
height: 0;
width: 0;
  }
.questions-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width:fit-content;
  gap: 2vw;
}
.questions__header {
  position: sticky;
  left: 0;
}

.question-item {
  width: 25vw;
  background-color: #ffecf5;
  border: 2px solid pink;
  padding: 1.5vw; 
  display: flex; 
  flex-direction: column;
  gap: 2vw;
  border-radius: 1vw;

}
.question-item h3{
  font-size: 1vw;
  font-weight: 600;
  width: 100%;
}
.question-item .description{
  font-size: 0.75vw;
  font-weight: 500;
}

.after-register {
width: 50%;
}

.online {
  border: none;
}
.trainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  justify-content: space-around;
}
.trainer img{
  border-radius: 1vw;
  height: 25vw;
}

.fb-form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  width: 50%;
}
.fb-submit {
  border-radius: 0.5rem;
  width: 100%;
  padding: .75vw 2vw;
  margin-top: 2vw;
}
label {
  width: 100%;
  position: relative;
}
.form-title {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
}
input {
  border: none;
  box-shadow:0 0 10px 2px #f8b9d8;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75vw 0;
}
::placeholder {
  padding: .75vw 2vw;
  height: 2vw;
}
.sendInfo {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
.loading {
  background-color: #f7bd32;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer-img {
  width: 25%;
}
.trainers {
  align-items: flex-start;
}
.thoughts-hight__questions-description {
  border: 1px solid black;
  border-radius: 3vw;
  padding: 1vw 2vw;
}
.thoughts-hight__questions-description--after {
  width: 2vw;
  height: 2vw;
  border: 1px solid black;
}