@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Bebas-font";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/BebasNeue-Regular.643f4552940567b18052.woff) format("woff"),
    url(./fonts/BebasNeue-Regular.643f4552940567b18052.woff2) format("woff2"),
    url(./fonts/BebasNeue-Regular.643f4552940567b18052.eot) format("eot");
}

@font-face {
  font-family: "Bebas-font";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/BebasNeue-Bold.6f62bf0730d88b3a2f42.woff) format("woff"),
    url(./fonts/BebasNeue-Bold.6f62bf0730d88b3a2f42.woff2) format("woff2"),
    url(./fonts/BebasNeue-Bold.6f62bf0730d88b3a2f42.eot) format("eot");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Bebas-font", sans-serif; */
  /* font-family: "Inter", sans-serif; */
}
body {
  padding: 2vw 15vw;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  background-color: pink;
  width: 1vw;
}
::-webkit-scrollbar-thumb {
  background-color: palevioletred;
  border-radius: 3vw;
}
.btn {
  background: none;
  border: none;
  font-size: 1.25vw;
  font-weight: 500;
  box-shadow: 0 12px 22px 0 #ee477780;
  border-bottom: 4px solid #cf1469;
  background: linear-gradient(90deg, #ff5ba9, #e91776 99.93%);
  color: white;
  padding: 1.5vw 3vw;
  border-radius: 0.75vw;
  transition-duration: 0.3s;
  cursor: pointer;
}
.btn:hover {
  transition-duration: 0.3s;
  box-shadow: none;
}
.header-h2 {
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  font-family: "Bebas-font", sans-serif;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.logo img {
  width: 8vw;
}
.navLink-wrapper {
  padding: 0.5vw 3vw;
  border-radius: 2vw;
  color: white;
  background-color: rgba(77, 76, 75, 0.1);
  box-shadow: 0 12px 22px 0 #ee477780;
  border-bottom: 4px solid #cf1469;
  background: linear-gradient(90deg, #ff5ba9, #e91776 99.93%);
  cursor: pointer;
  transition-duration: 0.3s;
}
.navLink-wrapper:hover {
  box-shadow: none;
  border-bottom: 4px solid #cf1469;
  transition-duration: 0.3s;
  background: linear-gradient(90deg, #ff5ba9, #e91776 99.93%);
}
.navLink-wrapper:hover a {
  color: rgb(245, 240, 240);
}
.nav-link {
  font-weight: 500;
  font-size: 1.25vw;
  color: white;
}
.start-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
}
.start-screen__image-container img {
  width: 100%;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}
.start-screen__info-block {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 75vw;
}
.header-h1 {
  font-size: 2vw;
  font-weight: 600;
  font-family: "Bebas-font", sans-serif;
}
.description {
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 120%;
}
.start-screen__btn {
  align-self: flex-end;
  padding: 1.5vw 5vw;
}

.thoughts {
  padding: 3vw 0;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.thoughts-hight {
  display: flex;
  gap: 3vw;
  justify-content: space-between;
  align-items: center;
}
.thoughts-hight__image-wrapper {
  width: 50%;
  text-align: center;
}
.thoughts-hight__image-wrapper img {
  width: 40%;
}
.thoughts-hight__questions {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  justify-content: space-between;
  align-items: center;
}
.thoughts-hight__questions-description {
  font-size: 1.5vw;
  color: #cf1469;
}
.thoughts-low {
  padding: 0.75vw 0 0.75vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-left: 0.5vw solid #ffecf5;
}
.whom {
  margin: 2vw 0;
  background-color: #ffecf5;
  padding: 4vw 12.5vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  width: 95vw;
  margin-left: calc(-25vw / 2);
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.whom-wrapper {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3vw;
  column-gap: 4vw;
}
.whom-item {
  position: relative;
  padding: 1vw 2vw;
  background-color: rgba(245, 240, 240, 0.8);
  border-radius: 0.5vw;
  box-shadow: 0 0 15px 5px #f3cddf;
}
.whom-item__number {
  position: absolute;
  font-size: 6vw;
  font-weight: 400;
  color: #e91776;
  top: -3vw;
  left: -1.5vw;
}

.whom-item__number--done {
  background-image: url(./src/done.png);
  width: 4vw;
  height: 4vw;
  background-size: cover;
  top: -1vw;
  left: -2.25vw;
}
.whom-item .description {
  font-size: 1vw;
}
.whom-wrapper--done {
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  position: relative;
  gap: 5vw;
  row-gap: 2vw;

  column-gap: 2.5vw;
  margin-top: 0;
}
.whom-wrapper--done .whom-item {
  padding: 0.75vw 1vw 0.75vw 2vw;
  display: flex;
  align-items: center;
}
.health-image {
  bottom: 0;
  right: 0;
  width: 100%;
  grid-column: 4/5;
  grid-row: 1/3;
  border-radius: 0.5vw;
  align-self: center;
  margin: 0 auto;
}
.whom-item__health {
  box-shadow: 0 0 15px 5px pink;
  border-radius: 2vw;
}

.whom__work {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin-top: 5vw;
}
.whom-wrapper__work {
  justify-content: center;
}
.work__btn {
  align-self: flex-end;
  padding: 1.5vw 5vw;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin: 4vw 0;
}

.questions-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: fit-content;
  gap: 2vw;
}
.questions__header {
  position: sticky;
  left: 0;
}

.question-item {
  width: 25vw;
  background-color: #ffecf5;
  border: 2px solid pink;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  border-radius: 1vw;
  align-self: stretch;
  height: 100%;
  cursor: grab;
}
.question-item h3 {
  font-size: 1vw;
  font-weight: 600;
  width: 100%;
  font-family: "Bebas-font", sans-serif;
}
.question-item .description {
  font-size: 0.75vw;
  font-weight: 500;
}

.after-register {
  width: 50%;
  text-align: center;
}
.after-register img {
  width: 75%;
}

.online {
  border: none;
}
.trainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  justify-content: space-around;
}
.trainer img {
  border-radius: 1vw;
  height: 25vw;
  width: auto;
}

.fb-form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  width: 50%;
}
.fb-submit {
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75vw 2vw;
  margin-top: 2vw;
}
label {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-title {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
}
input {
  border: none;
  box-shadow: 0 0 10px 2px #f8b9d8;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75vw 0;
}
::placeholder {
  padding: 0.75vw 2vw;
  height: 2vw;
}
.sendInfo {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  z-index: 100;
}
.success {
  background-color: green;
}
.error {
  font-size: 1.5rem;
  background-color: red;
  padding: 2rem 4rem;
}
.loading {
  background-color: #f7bd32;
}

.trainers {
  align-items: flex-start;
}
.thoughts-hight__questions-description {
  border: 1px solid black;
  border-radius: 3vw;
  padding: 1vw 3vw;
}
.thoughts-hight__questions-description--after {
  width: 2vw;
  height: 2vw;
  border: 1px solid black;
}
.question-icon {
  width: 20%;
}
p a .question-item__email {
  font-weight: 500;
  text-decoration: dotted;
}
.description--trainer {
  font-size: 1vw;
}
.questions-wrapper {
  position: relative;
  width: 120%;
  margin: 0 -10%;
  padding: 0 10%;
}
.swiper {
  /* width: 600px;*/
  /* height: 500px; */
  /* padding: 2vw; */
}
.swiper-button-prev {
  /* left: -2vw; */
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 2vw;
}
.swiper-button-next,
.swiper-button-prev {
  color: #cf1469;
}
.swiper-pagination-bullet-active {
  background-color: #cf1469;
}
.description--header {
  color: #e91776;
  font-size: 1.5vw;
}
.thoughts-hight__questions-item {
  position: relative;
}
.corner {
  width: 2vw;
  height: 2vw;
  border-bottom: 1px solid;
  border-right: 1px solid;
  transform: skew(40deg, 15deg);
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
.corner-left {
  width: 2vw;
  height: 2vw;
  border-bottom: 1px solid;
  border-left: 1px solid;
  transform: skew(-40deg, -15deg);
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0.5vw;
  background-color: #fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(248, 185, 216, 0.9);
  z-index: -1;
  width: 80%;
  border-radius: 2vw;
  padding: 4vw;
  opacity: 0;
  transition-duration: 0.5s;
}
.footer {
  position: relative;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.form-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.footer-img {
  width: 15vw;
  height: auto;
}
.modal-item {
  position: absolute;
  top: 0;
  left: 25%;
  border-radius: 3vw;
  background-color: white;
}
.modal-close {
  position: absolute;
  right: -4vw;
  top: -5vw;
  font-weight: 500;
  font-size: 4vw;
  transform: rotate(45deg);
  padding: 1vw;
  cursor: pointer;
  color: #cf1469;
  transition-duration: 0s;
}
.modal-close:hover {
  transition-duration: 0.3s;
  text-shadow: 0 0 3px #e91776;
  transition-duration: 0.5s;
}

.open {
  z-index: 10;
  opacity: 1;
  transition-duration: 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 567px) {
  body {
    padding: 1rem 1rem 3rem;
    gap: 3vw;
  }

  .btn {
    font-size: 1.25vw;
    font-weight: 500;
    box-shadow: 0 12px 22px 0 #ee477780;
    border-bottom: 4px solid #cf1469;
    padding: 1.5vw 3vw;
    border-radius: 0.5rem;
  }

  .header-h2 {
    font-size: 1.25rem;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 5rem;
  }
  .navLink-wrapper {
    padding: 0.5vw 3vw;
    border-radius: 2vw;
    box-shadow: 0 12px 22px 0 #ee477780;
    border-bottom: 4px solid #cf1469;
  }
  .navLink-wrapper:hover {
    border-bottom: 4px solid #cf1469;
  }

  .nav-link {
    font-size: 0.75rem;
  }
  .start-screen {
    gap: 4vw;
    flex-direction: column;
    align-items: center;
  }
  .start-screen__image-container {
    text-align: center;
  }
  .start-screen__image-container img {
    width: 80%;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .start-screen__info-block {
    gap: 1.25rem;
    width: 75vw;
    order: -1;
  }
  .header-h1 {
    font-size: 2rem;
  }
  .description {
    font-size: 0.75rem;
  }
  .start-screen__btn {
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
  }

  .thoughts {
    padding: 2rem 0 0;
    gap: 2rem;
  }
  .thoughts-hight {
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .thoughts-hight__image-wrapper {
    width: 30%;
  }
  .thoughts-hight__image-wrapper img {
    width: 75%;
  }
  .thoughts-hight__questions {
    width: 70%;
    gap: 3vw;
  }
  .thoughts-hight__questions-description {
    font-size: 0.75rem;
  }
  .thoughts-low {
    padding: 1.5rem 0 1.5rem 5vw;
    gap: 1vw;
    border-left: 0.5vw solid #ffecf5;
  }
  .whom {
    margin: 0;
    padding: 2rem;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    width: 100%;
    margin-left: 0;
    gap: 1rem;
  }
  .whom-wrapper {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
  }
  .whom-item {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: rgba(245, 240, 240, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 5px #f3cddf;
  }
  .whom-item__number {
    font-size: 1.5rem;
    font-weight: 400;
    top: -0.75rem;
    left: 0.25rem;
  }

  .whom-item__number--done {
    background-image: url(./src/done.png);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    top: -1vw;
    left: -2.25vw;
  }
  .whom-item .description {
    font-size: 0.5rem;
  }
  .whom-wrapper--done {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    margin-top: 0;
  }
  .whom-wrapper--done .whom-item {
    padding: 0.5rem 1rem;
  }
  .health-image {
    bottom: 0;
    right: 0;
    width: 50%;
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 0.5vw;
    align-self: center;
    margin: 0 auto;
    order: -1;
  }
  .whom-item__health {
    box-shadow: 0 0 15px 5px pink;
    border-radius: 2vw;
  }

  .whom__work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .whom-wrapper__work {
    justify-content: center;
  }
  .work__btn {
    align-self: flex-end;
    padding: 0.5rem 2rem;
    font-size: 0.75rem;
  }
  .work__btn--follow {
    padding: 0.75rem;
    width: 60%;
  }
  .questions {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin: 4vw 0;
  }
  .questions-wrapper {
    gap: 2vw;
  }
  .question-item {
    /* width: 25vw; */
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    height: 100%;
  }
  .question-item h3 {
    font-size: 1rem;
    width: 100%;
    line-height: 120%;
  }
  .question-item .description {
    font-size: 0.75rem;
  }
  .after-register {
    width: 100%;
  }
  .after-register .btn {
    width: 50%;
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
  }
  .after-register img {
    width: 75%;
  }
  .trainers {
    flex-direction: column;
  }
  .trainer {
    width: 75%;
    gap: 2vw;
  }
  .trainer img {
    border-radius: 1vw;
    height: auto;
    width: 100%;
  }
  .thoughts-hight__questions-description {
    border: 1px solid black;
    border-radius: 3vw;
    padding: 1vw 3vw;
  }
  .thoughts-hight__questions-description--after {
    width: 2vw;
    height: 2vw;
    border: 1px solid black;
  }
  .question-icon {
    width: 20%;
  }
  .description--trainer {
    font-size: 0.75rem;
  }
  .questions-wrapper {
    position: relative;
    width: 100%;
    margin: 0 0;
    padding: 0 1.5rem;
  }
  .swiper {
    height: auto;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -0.75rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .description--header {
    color: #e91776;
    font-size: 1rem;
  }
  .corner {
    width: 2vw;
    height: 2vw;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: skew(40deg, 15deg);
    z-index: 1;
    bottom: 0;
    right: 0;
  }
  .corner-left {
    width: 2vw;
    height: 2vw;
    border-bottom: 1px solid;
    border-left: 1px solid;
    transform: skew(-40deg, -15deg);
    z-index: 1;
    bottom: 0;
    left: 0.5vw;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 185, 216, 0.9);
    width: 80%;
    border-radius: 2vw;
    padding: 4vw;
  }
  .footer {
    position: relative;
    width: 100%;
    padding: 6rem 0;
  }
  .modal-item {
    position: absolute;
    top: 1rem;
    left: 25%;
    border-radius: 3vw;
    background-color: white;
  }

  .modal-close {
    right: -4vw;
    top: -5vw;
    font-weight: 500;
    font-size: 2rem;
    transform: rotate(45deg);
    padding: 1vw;
    transition-duration: 0.3s;
  }
  .modal-close:hover {
    transition-duration: 0.3s;
    text-shadow: 0 0 3px #e91776;
    transition-duration: 0.5s;
  }

  .fb-form {
    gap: 1rem;
    width: 90%;
    /* margin-top: 6rem; */
  }
  .fb-submit {
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem 2rem;
    margin-top: 2vw;
  }
  label {
    width: 100%;
  }
  .form-title {
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
  }
  input {
    box-shadow: 0 0 10px 2px #f8b9d8;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75vw 1rem;
    height: 2.5rem;
  }
  ::placeholder {
    padding: 0.5rem 1rem;
    height: 1.5rem;
  }
  .sendInfo {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
  }
  .footer-img {
    width: 25%;
    align-self: flex-start;
  }
}
@media screen and (min-width: 568px) and (max-width: 920px) {
  body {
    padding: 1rem 10vw 3rem;
    gap: 3vw;
  }

  .btn {
    font-size: 1.25vw;
    font-weight: 500;
    box-shadow: 0 12px 22px 0 #ee477780;
    border-bottom: 4px solid #cf1469;
    padding: 1.5vw 3vw;
    border-radius: 0.5rem;
  }

  .header-h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 5rem;
  }
  .navLink-wrapper {
    padding: 0.5vw 3vw;
    border-radius: 2vw;
    box-shadow: 0 12px 22px 0 #ee477780;
    border-bottom: 4px solid #cf1469;
  }
  .navLink-wrapper:hover {
    border-bottom: 4px solid #cf1469;
  }

  .nav-link {
    font-size: 0.75rem;
  }
  .start-screen {
    gap: 4vw;
    flex-direction: column;
    align-items: center;
  }
  .start-screen__image-container {
    text-align: center;
  }
  .start-screen__image-container img {
    width: 80%;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .start-screen__info-block {
    gap: 1.25rem;
    width: 75vw;
    order: -1;
  }
  .header-h1 {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  .start-screen__btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }

  .thoughts {
    padding: 2rem 0 0;
    gap: 2rem;
  }
  .thoughts-hight {
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .thoughts-hight__image-wrapper {
    width: 30%;
  }
  .thoughts-hight__image-wrapper img {
    width: 75%;
  }
  .thoughts-hight__questions {
    width: 70%;
    gap: 3vw;
  }
  .thoughts-hight__questions-description {
    font-size: 1rem;
  }
  .thoughts-low {
    padding: 1.5rem 0 1.5rem 5vw;
    gap: 1vw;
    border-left: 0.5vw solid #ffecf5;
  }
  .whom {
    margin: 0;
    padding: 2rem;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    width: 100%;
    margin-left: 0;
    gap: 1rem;
  }
  .whom-wrapper {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
  }
  .whom-item {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: rgba(245, 240, 240, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 5px #f3cddf;
  }
  .whom-item__number {
    font-size: 1.5rem;
    font-weight: 400;
    top: -0.75rem;
    left: 0.25rem;
  }

  .whom-item__number--done {
    background-image: url(./src/done.png);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    top: -1vw;
    left: -2.25vw;
  }
  .whom-item .description {
    font-size: 1rem;
  }
  .whom-wrapper--done {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 2rem;
    column-gap: 4rem;
    margin-top: 0;
  }
  .whom-wrapper--done .whom-item {
    padding: 0.5rem 1rem;
  }
  .health-image {
    bottom: 0;
    right: 0;
    width: 50%;
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 0.5vw;
    align-self: center;
    margin: 0 auto;
    order: -1;
  }
  .whom-item__health {
    box-shadow: 0 0 15px 5px pink;
    border-radius: 2vw;
  }

  .whom__work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .whom-wrapper__work {
    justify-content: center;
  }
  .work__btn {
    align-self: flex-end;
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
  .work__btn--follow {
    padding: 0.75rem;
    width: 60%;
  }
  .questions {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin: 4vw 0;
  }
  .questions-wrapper {
    gap: 2vw;
  }
  .question-item {
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    height: 100%;
  }
  .question-item h3 {
    font-size: 1.25rem;
    width: 100%;
    line-height: 120%;
  }
  .question-item .description {
    font-size: 1rem;
  }
  .after-register {
    width: 100%;
  }
  .after-register .btn {
    width: 50%;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    margin: 1rem 0;
  }
  .after-register img {
    width: 75%;
  }
  .trainers {
    flex-direction: column;
  }
  .trainer {
    width: 75%;
    gap: 2vw;
  }
  .trainer img {
    border-radius: 1vw;
    height: auto;
    width: 100%;
  }
  .thoughts-hight__questions-description {
    border: 1px solid black;
    border-radius: 3vw;
    padding: 1vw 3vw;
  }
  .thoughts-hight__questions-description--after {
    width: 2vw;
    height: 2vw;
    border: 1px solid black;
  }
  .question-icon {
    width: 20%;
  }
  .description--trainer {
    font-size: 1rem;
  }
  .questions-wrapper {
    position: relative;
    width: 100%;
    margin: 0 0;
    padding: 0 1.5rem;
  }
  .swiper {
    height: auto;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -0.75rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .description--header {
    color: #e91776;
    font-size: 1rem;
  }
  .corner {
    width: 2vw;
    height: 2vw;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: skew(40deg, 15deg);
    z-index: 1;
    bottom: 0;
    right: 0;
  }
  .corner-left {
    width: 2vw;
    height: 2vw;
    border-bottom: 1px solid;
    border-left: 1px solid;
    transform: skew(-40deg, -15deg);
    z-index: 1;
    bottom: 0;
    left: 0.5vw;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 185, 216, 0.9);
    width: 80%;
    border-radius: 2vw;
    padding: 4vw;
  }
  .footer {
    position: relative;
    width: 100%;
    padding: 6rem 0;
  }
  .modal-item {
    position: absolute;
    top: 1rem;
    left: 25%;
    border-radius: 3vw;
    background-color: white;
  }

  .modal-close {
    right: -4vw;
    top: -5vw;
    font-weight: 500;
    font-size: 2rem;
    transform: rotate(45deg);
    padding: 1vw;
    transition-duration: 0.3s;
  }
  .modal-close:hover {
    transition-duration: 0.3s;
    text-shadow: 0 0 3px #e91776;
    transition-duration: 0.5s;
  }

  .fb-form {
    gap: 1rem;
    width: 90%;
    /* margin-top: 6rem; */
  }
  .fb-submit {
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem 2rem;
    margin-top: 2vw;
  }
  label {
    width: 100%;
  }
  .form-title {
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
  }
  input {
    box-shadow: 0 0 10px 2px #f8b9d8;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75vw 1rem;
    height: 2.5rem;
  }
  ::placeholder {
    padding: 0.5rem 1rem;
    height: 1.5rem;
  }
  .sendInfo {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
  }
  .footer-img {
    width: 25%;
    align-self: flex-start;
  }
}
